# Python cache files
__pycache__/
*.py[cod]

# Environment files
.env
.env.*

# Credentials and secrets
credentials.json
.streamlit/secrets.toml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (ถ้าใช้ VS Code)
.vscode/

# MacOS system files
.DS_Store

# Logs and temporary files
*.log
*.tmp

# Python virtual environment folders
venv/
env/
.venv/
.env/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Others
*.swp
